:root {
    --light:#FFF;
    --bg-light:#ece7e7;
    --icon-bg:#666;
    --active-nav:#3C4242;
    --normal-nav:#807D7E;
    --purple:#8A33FD;
    --bgbrands:#323232;
    --bgcost:#F6F6F6;
    --bgfooter:#3C4242;;
}